createdAt: "2018-01-18T12:51:41.059Z"
updatedAt: "2018-01-18T12:54:12.485Z"
type: "MARKDOWN_NOTE"
folder: "fc755b0de67802cffc78"
title: "Java8 学习笔记"
content: '''
  # Java8 学习笔记
  ## Stream API
  
  ```java
  public class Test{
    public static void main(String[]args){
      Stream<String> stream = Stream.of("Jack", "Rose", "Lucy");
    }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
